# Local dbt environment variables
GCP_PROJECT_ID=mi-proyecto-123
DBT_DATASET=flight_prices
GCP_LOCATION=us-east1
RAW_DATASET=flight_prices
RAW_TABLE_NAME=raw_flight_data
GCP_KEY_PATH=/ruta/absoluta/a/tu/service_account.json
