SECRET_GCP_SERVICE_ACCOUNT= YOUR_SERVICE_ACCOUNT_KEY_ENCODED

ENV_GCP_PROJECT_ID = YOUR_PROJECT_ID
ENV_GCP_LOCATION = us-east1
ENV_GCP_BUCKET_NAME = UNIQUE_BUCKET_NAME
ENV_GCP_DATASET = DATASET_ID

SECRET_GEMINI_API_KEY = YOUR_GEMINI_API_KEY_ENCODED